doctype html
html
  head
    title "Расширенная выписка по организации", форма от 07.06.2021
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/excerpt/style.css" rel="stylesheet" )

    table.header
      col( width="150" )
      col( width="500" )
      col( width="150" )
      tr
        td.aas-logo( rowspan="5" )
          img( src="/template/images/logo-aas-small.svg" alt="СРО ААС" width="140" )
        td.header-companyname Саморегулируемая организация аудиторов
        td.ifac-logo( rowspan="5" )
          img( src="/template/images/logo-ifac.svg" alt="СРО ААС" width="70" )
      tr
        td.header-companytitle Ассоциация «Содружество»
      tr
        td.header-membership член Международной Федерации Бухгалтеров (IFAC)
      tr
        td.header-inn (ОГРН 1097799010870 ИНН 7729440813 КПП 772901001)
      tr
        td.header-address 119192, г. Москва, Мичуринский проспект, дом 21, корпус 4.<br>т: +7 (495) 734-22-22, ф: +7 (495) 734-04-22, www.auditor-sro.org, info@auditor-sro.org

    table.h1
      tr
        td.h1-title ВЫПИСКА<br>(РАСШИРЕННАЯ)
      tr
        td.p из реестра аудиторов и аудиторских организаций<br>Саморегулируемой организации аудиторов Ассоциации «Содружество» (СРО ААС)

    table.date-number
      tr
        td.date «9» апреля  2021 г.
        td.number № 450-ФС/21

    table.text
      tr
        td.text( style="padding-bottom: 15px;") Настоящая выписка содержит сведения об аудиторской организации
      tr
        td.fio
          b ДАННЫЕ
      tr
        td.note наименование аудиторской организации

    table.certificate
      tr
        td Дата и номер решения о приеме в члены СРО ААС: <b>20.05.2004 г., № 66</b><br>Дата вступления в силу решения о приеме в члены СРО ААС: <b>23.07.1995 г</b><br>Дата включения в Реестр аудиторов и аудиторских организаций СРО ААС: <b>08.08.2020 г.</b><br>Членство в СРО ААС приостановлено с <b>02.02.2010 г. на 180 дней</b>.

    table.ornz
      tr
        td( align="center" )
          b ОРНЗ

    table.ornz-num
      tr
        td 2
        td 2
        td 1
        td 0
        td 6
        td 0
        td 2
        td 1
        td 3
        td 5
        td 4

    table.table-data 
      col( width="40" )
      col( width="300" )
      col( width="460" )
      tbody
        tr 
          td( colspan="3" ) Сведения об аудиторской организации:
        each title, index in ['Наименование аудиторской организации', 'Сокращенное наименование аудиторской организации', 'Организационно-правовая форма', 'Наименование на иностранном языке', 'Язык иностранного наименования', 'Сведения о государственной регистрации (ОГРН)', 'ИНН', 'Адрес (место нахождения)', 'Телефон', 'Адрес электронной почты', 'Адрес официального сайта']
          tr.border 
            td( align="center" )= index+1
            td= title
            td ДАННЫЕ

      tbody

        - var arr = [['Наименование', 'Адрес'], ['ФИО / наименование и адрес (место нахождения) организации', 'ОРНЗ'], ['Наименование организации', 'Адрес (место нахождения)'], ['Орган управления', 'Наименование', 'ФИО', 'ОРНЗ'], ['Наименование', 'Адрес / Источник информация о международной сети и ее членах'], ['Наименование регистрирующего органа', 'Регистрационный номер'], ['Наименование СРО', 'ОРНЗ', 'Дата начала периода', 'Дата окончания периода'], ['Дата проведения проверки качества работы', 'Орган, проводивший проверку'], ['Вид нарушения', 'Меры дисциплинарного воздействия', 'Номер и дата принятия решения', 'Орган, принявший решения', 'Срок, на который приостановлено членство', 'Дата принятия решения о восстановлении членства', 'Дата, с которой восстановлено членство'], ['Вид нарушения', 'Меры дисциплинарного воздействия', 'Номер и дата принятия решения', 'Орган, принявший решения', 'Срок, на который приостановлено членство', 'Дата принятия решения о восстановлении членства', 'Дата, с которой восстановлено членство'], ['Наименование аудиторской организации', 'ОГРН'], ['Дата заключения первого в календарном году договора на проведение такого аудита'], ['ФИО', 'ОРНЗ']]

        each title, blockIndex in ['Место нахождения (адреса) всех филиалов и представительств:', 'Сведения об учредителях (участниках) аудиторской организации:', 'Сведения о держателях реестров акционеров аудиторской организации, созданной в форме акционерного общества:', 'Сведения о членах коллегиального и (или) единоличного исполнительного органа аудиторской организации:', 'Сведения о членстве (или ином участии) в международных сетях аудиторских организаций:', 'Сведения о регистрации в качестве аудиторской организации (или иного аналогичного лица) в других государствах:', 'Сведения о членстве в других СРО аудиторов:', 'Сведения о прохождении внешнего контроля качества работы:', 'Сведения о применении мер дисциплинарного воздействия:', 'Сведения о применении мер иного воздействия:', 'Сведения о правопреемстве:', 'Сведения об оказании услуг по проведению аудита бухгалтерской (финансовой) отчетности организаций, указанных в части 3 статьи 5 Федерального закона от 30 декабря 2008 г. N 307-ФЗ «Об аудиторской деятельности»:', 'Сведения об аудиторах, являющихся работниками аудиторской организации на основании трудового договора:']

          tr 
            td( colspan="3" )= title

          tr.border 
            td( align="center" colspan="3" )
              b 1
          each data, index in arr[blockIndex]
            tr.border 
              td( align="center" )= index+1
              td= data
              td ДАННЫЕ

    table.issue-date
      tr
        td Выписка сформирована по состоянию на <b>«7» апреля 2021 года</b>.

    table.footer( autosize="1" )
      tr
        td.occupation Генеральный директор<br>СРО ААС
        td.signature _________________________________
        td.fio /_______________________ /
      tr
        td.note( colspan="3" ) М.П.
