doctype html
html
  head
    title "Расширенная выписка по (индивидуальному) аудитору", форма от 07.06.2021
    meta( charset="utf-8" )
    
  body
    link( href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700" rel="stylesheet" )
    link( href="/components/pdf/excerpt.css" rel="stylesheet" )

    table.header
      col( width="150" )
      col( width="500" )
      col( width="150" )
      tr
        td.aas-logo( rowspan="5" )
          img( src="/template/images/logo-aas-small.svg" alt="СРО ААС" width="140" )
        td.header-companyname Саморегулируемая организация аудиторов
        td.ifac-logo( rowspan="5" )
          img( src="/template/images/logo-ifac.svg" alt="СРО ААС" width="70" )
      tr
        td.header-companytitle Ассоциация «Содружество»
      tr
        td.header-membership член Международной Федерации Бухгалтеров (IFAC)
      tr
        td.header-inn (ОГРН 1097799010870 ИНН 7729440813 КПП 772901001)
      tr
        td.header-address 119192, г. Москва, Мичуринский проспект, дом 21, корпус 4.<br>т: +7 (495) 734-22-22, ф: +7 (495) 734-04-22, www.auditor-sro.org, info@auditor-sro.org

    table.h1
      tr
        td.h1-title ВЫПИСКА<br>(РАСШИРЕННАЯ)
      tr
        td.p из реестра аудиторов и аудиторских организаций<br>Саморегулируемой организации аудиторов Ассоциации «Содружество» (СРО ААС)

    table.date-number
      tr
        td.date «9» апреля  2021 г.
        td.number № 450-ФС/21

    table.text
      tr
        td.text( style="padding-bottom: 15px;") Настоящая выписка содержит сведения об индивидуальном аудиторе
      tr
        td.fio
          b ДАННЫЕ
      tr
        td.note фамилия, имя, отчество (при наличии)

    table.certificate
      tr
        td Дата и номер решения о приеме в члены СРО ААС: <b>20.05.2004 г., № 66</b><br>Дата вступления в силу решения о приеме в члены СРО ААС: <b>23.07.1995 г</b><br>Дата включения в Реестр аудиторов и аудиторских организаций СРО ААС: <b>08.08.2020 г.</b><br>Членство в СРО ААС приостановлено с <b>02.02.2010 г. на 180 дней</b>.

    table.ornz
      tr
        td( align="center" )
          b ОРНЗ

    table.ornz-num
      tr
        td 2
        td 2
        td 1
        td 0
        td 6
        td 0
        td 2
        td 1
        td 3
        td 5
        td 4

    table.table-data 
      col( width="40" )
      col( width="300" )
      col( width="460" )
      tbody
        tr 
          td( colspan="3" ) Сведения об индивидуальном аудиторе:
        each title, index in ['Фамилия, имя, отчество (при наличии)', 'Фамилия, имя, отчество (при наличии) на иностранном языке', 'Сведения о государственной регистрации индивидуального предпринимателя (ОГРНИП)', 'Адрес официального сайта в сети "Интернет"']
          tr.border 
            td( align="center" )= index+1
            td= title
            td ДАННЫЕ

      tbody

        - var arr = [['Номер аттестата', 'Дата принятия решения о выдаче аттестата', 'Наименование органа (организации), выдавшей аттестат', 'Область аудита (тип КАА)'], ['Наименование СРО', 'ОРНЗ', 'Дата начала периода', 'Дата окончания периода'], ['Наименование регистрирующего органа', 'Регистрационный номер'], ['Полное наименование аудиторской организации / фамилия, имя, отчество (при наличии) индивидуального аудитора', 'Адрес места нахождения аудиторской организации', 'Адрес официального сайта в сети "Интернет"', 'ОРНЗ'], ['Дата проведения проверки качества работы', 'Орган, проводивший проверку'], ['Вид нарушения', 'Меры дисциплинарного воздействия', 'Номер и дата принятия решения', 'Орган, принявший решения', 'Срок, на который приостановлено членство', 'Дата принятия решения о восстановлении членства', 'Дата, с которой восстановлено членство']]

        each title, blockIndex in ['Сведения о квалификационных аттестатах индивидуального аудитора:', 'Сведения о членстве в других СРО аудиторов:', 'Сведения о регистрации в качестве аудитора (или иного аналогичного лица) в других государствах:', 'Сведения об аудиторских организациях (индивидуальных аудиторах), работником которых аудитор является на основании трудовых договоров:', 'Сведения о прохождении внешнего контроля качества работы:', 'Сведения о применении мер дисциплинарного воздействия:']

          tr 
            td( colspan="3" )= title

          tr.border 
            td( align="center" colspan="3" )
              b 1
          each data, index in arr[blockIndex]
            tr.border 
              td( align="center" )= index+1
              td= data
              td ДАННЫЕ

    table.issue-date
      tr
        td Выписка сформирована по состоянию на <b>«7» апреля 2021 года</b>.

    table.signature( autosize="1" )
      tr
        td.occupation Генеральный директор СРО ААС
        td.signature
          img( src="/template/images/signature-stamp.png" alt="" width="280" )
        td.fio Носова О.А.
